.introduction {
    height: 100vh;
    background: url('../assets/introbg.jpg') center/cover no-repeat;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(230, 245, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
  }
  