.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: hsl(210, 24%, 42%);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: hsl(209, 24%, 25%);
}

.container{
  margin: 0 250px; /* Adds 20px margin to the left and right */
}

.App{
  background-color: rgba(230, 245, 255, 1);
}